body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-image{
    height: 650px;
    background-image: url("./images/donation7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner-text{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 90px;

}

.donate-btn button{
    border: none;
    color: white;
    background-color: rgb(218, 70, 70);
    padding: 15px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 20px;
    margin-bottom: 50px;
}

.donate{
    text-align: center;
    padding-top: 90px;
    height: 650px;
}
.donate-header{
    margin-bottom: 50px;
}

.amount-btn button{
    border: none;
    color: rgb(88, 86, 86);
    background-color: rgb(235, 233, 233);
    padding: 35px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;

}
h2{
    font-size: 45px;
}

#selected-amount-btn{
    color: tomato;
    background-color: rgb(255, 228, 228);
    padding: 35px 20px;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid tomato;
    border-radius: 5px;
}

.text-area textarea{
    margin-top: 80px;
    margin-bottom: 35px;
    height: 30px;
    width: 45%;
    padding: 12px 20px;
    border: none;;
    border-bottom:2px solid rgb(160, 160, 160);
    font-size: 20px;
    resize: none;
    text-align: center;
}

.donate-plan{
    margin-bottom: 80px;

}

.donate-plan-header{
    text-align: center;
    
}

.donate-plan-container-flex{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    
}

h3{
    font-size: 30px;
}

.card{
    width: 25%;
    height: 270px;
    padding: 70px 25px;
    text-align: justify;
    
}

#card1{
    background-color: rgb(229, 252, 255);
}

#card2{
    background-color: rgb(255, 229, 247);
}

#card3{
    background-color: rgb(249, 238, 198);
    
}

.flood-description{
    background-color: rgb(220, 220, 220);
    height: 2300px;
    width: 100%;
}

.flood-description-image{
    margin-left: 160px;
    padding-top: 70px;
}

.flood-description-text{
    margin: 90px 160px 40px;
    text-align: justify;
}

.update{
    height: 550px;
    margin-bottom: 100px;
}

.update-header{
    text-align: center;
}

.update-contant{
    padding-top: 110px;
    text-align: center;
    background-color: bisque;
    height: 160px;
    width: 60%;
    margin-left: 300px;
}

#email{
    height: 50px;
    width: 300px;
    background-color: rgb(214, 214, 214);
    font-weight: bold;
    border: none;
    margin-right: -5px;
    
}
#subscribe-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(218, 70, 70);
    height: 52px;
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 8px;
    border: none;
}

footer{
    background-color: rgb(40, 40, 40);
    color: white;
    height: 180px;
    text-align: center;
    padding-top: 60px;
}

footer h2{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}