body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-image{
    height: 650px;
    background-image: url(/images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner-text{
    color: white;
    text-align: center;
    padding-top: 90px;

}

.donate-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(218, 70, 70);
    padding: 15px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 20px;
    margin-bottom: 50px;
}

.section-two{
    text-align: center;
    padding-top: 90px;
    height: 650px;
}

.amount-btn{
    text-decoration: none;
    color: rgb(88, 86, 86);
    background-color: rgb(235, 233, 233);
    padding: 35px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;

}
h2{
    font-size: 45px;
}

.selected-amount-btn{
    text-decoration: none;
    color: rgb(223, 43, 43);
    background-color: rgb(247, 185, 185);
    padding: 35px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

.text-area{
    margin-top: 80px;
    margin-bottom: 35px;
    height: 30px;
    width: 45%;
    padding: 12px 20px;
    border: none;;
    border-bottom:2px solid rgb(160, 160, 160);
    font-size: 20px;
    resize: none;
    text-align: center;
}

.section-three{
    margin-bottom: 80px;

}

.section-three-header{
    text-align: center;
    
}

.container-flex{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
}

h3{
    font-size: 30px;
}

.card{
    width: 25%;
    height: 270px;
    padding: 70px 25px;
    
}

.card1{
    background-color: rgb(229, 252, 255);
}

.card2{
    background-color: rgb(255, 229, 247);
}

.card3{
    background-color: rgb(249, 238, 198);
}




footer{
    background-color: rgb(40, 40, 40);
    color: white;
    height: 180px;
    text-align: center;
    padding-top: 60px;
}
footer h2{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}